<h1>Listing Articles</h1>

<%= link_to 'New Article', new_article_path %>

<%= params %>

<%= form_tag("/articles", method: "get") do %>
	<%= label_tag(:q, "Search by Company:") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("Search") %>
<% end %>

<table class="table tabled-striped">
	<tr>
		<th>Title</h>
		<th>Text</th>
		<th>Company</th>
		<th colspan="3"></th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text.length > 50 ? article.text.first(50) + '...' : article.text %></td>
			<td><%= article.company.name %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Destroy', article_path(article),
				method: :delete,
				data: { confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>
